<div class="form">
  <h2>Cambia tu contraseña</h2>
  <form action="/edit-profile/change-password" method="POST">

    <label for="currentpass">Contraseña actual:</label>
    <input required type="password" name="currentpass" />

    <label for="newpass">Contraseña nueva:</label>
    <input required type="password" name="newpass" />

    <label for="repeatpass">Repite la nueva constraseña:</label>
    <input required type="password" name="repeatpass" />

    <button type="submit" class="promptPalButton">Cambiar contraseña</button>

  </form>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

</div>