<div class="form">
  <h2>Cambia tu contraseña</h2>
  <form action="/edit-profile/change-password" method="POST" enctype="multipart/form-data">

    <label for="username">Contraseña actual:</label>
    <input type="text" name="currentPassword" />

    <label for="email">Contraseña nueva:</label>
    <input type="text" name="newPassword" />

    <label for="email">Repite la nueva constraseña:</label>
    <input type="text" name="repeatPassword" />

    <button type="submit" class="promptPalButton">Cambiar contraseña</button>

  </form>

</div>