<div class="form">

  <form action="/log-in" method="POST">
    <h2>Log In</h2>
    <label>
      Email
      <input type="email" name="email" placeholder="Email" />
    </label>

    <label>
      Contraseña
      <input type="password" name="password" placeholder="Contraseña" />
    </label>

    <button type="submit" class="button">Iniciar sesión</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>