<div id="login">
  <div id="left">
    <img src="/images/PromptPal-logo-negativo.png" />
    <div class="leftAlign">
      <h3>¿No tienes cuenta?</h3>
      <p>Crea una cuenta ahora.</p>
      <button class="whiteButton"><a href="/sign-up">Crear cuenta</a></button>
    </div>

  </div>

  <div id="right">
    <form action="/log-in" method="POST">
      <h2>Iniciar sesión:</h2>
      <label>
        Email
        <input
          type="email"
          name="email"
          placeholder="Tu e-mail"
          class="leftAlign"
        />
      </label>

      <label>
        Contraseña
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          class="leftAlign"
        />
      </label>

      <button type="submit" class="blueButton">Iniciar sesión</button>

    </form>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

  </div>

</div>