<div class="profile">
  <p>
    Inicia sesi칩n para acceder a nuestra herramienta 游뱁
  </p>
</div>
<div id="login-form">
  <h2>Log In</h2>
  <form action="/log-in" method="POST">

    <label>
      Email
      <input type="email" name="email" placeholder="Email" />
    </label>

    <label>
      Contrase침a
      <input type="password" name="password" placeholder="Contrase침a" />
    </label>

    <button type="submit" class="button">Iniciar sesi칩n</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>