<div class="form">

  <form action="/log-in" method="POST">
    <h2>Inicia sesi칩n:</h2>
    <label>
      Email
      <input type="email" name="email" placeholder="Email" />
    </label>

    <label>
      Contrase침a
      <input type="password" name="password" placeholder="Contrase침a" />
    </label>

    <button type="submit" class="button">Iniciar sesi칩n</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>