{{#if userInSession}}
  <h1 class="auth">Este es tu espacio {{userInSession.username}}</h1>
  <p>Esta es tu página de usuario
    {{userInSession.username}}, donde te has registrado con el email
    {{userInSession.email}}.</p>

  <div class="boxDiv">
    <div class="singlediv2">
      <a href="/prompts">
        <h4>Consulta todos los prompts:</h4>
        <img class="small" src="/images/prompts.png" />
      </a>
    </div>
    <div class="singlediv2">
      <a href="/prompts/mis-prompts">
        <h4>Consulta tus prompts:</h4>
        <img class="small" src="/images/misprompts.png" />
      </a>
    </div>
  </div>
  <div class="boxDiv">
    <div class="singlediv2">
      <a href="/prompts/mis-responses">
        <h4>Consulta tus respuestas:</h4>
        <img class="small" src="/images/respuestas.png" />
      </a>
    </div>
    <div class="singlediv2">
      <a href="/edit-profile">
        <h4>Edita tu perfil:</h4>
        <img class="small" src="/images/user.png" />
      </a>
    </div>
  </div>
{{/if}}