<button>
  <a href="/prompts">Ver todos</a>
</button>
<button>
  <a href="/profile">Volver a mi perfil</a>
</button>
<button>
  <a href="/log-out">Log out</a>
</button>
<h2>{{prompt.tag}}</h2>

<div class="prompts">
  <p class="definition">{{prompt.definition}}</p>
  <p class="response">{{prompt.responses}}</p>

</div>