<div class="form">

  <form action="/sign-up" method="POST">
    <h2>Crear cuenta</h2>
    <label>
      Usuario:
      <input type="text" name="username" placeholder="Tu usuario" />
    </label>

    <label>
      Email:
      <input type="email" name="email" placeholder="Tu email" />
    </label>

    <label>
      Contraseña:
      <input type="password" name="password" placeholder="Tu contraseña" />
    </label>

    <label>
      Imagen de perfil:
      <input type="image" name="profilePic" />
    </label>

    <label>
      Sector:
      <input type="text" name="industry" placeholder="Tu sector (opcional)" />
    </label>

    <button type="submit" class="promptPalButton">Crear cuenta</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

<p>¿Ya tienes cuenta? <a href="/log-in">Inicia sesión</a></p>