<div class="form">

  <form action="/sign-up" method="POST" enctype="multipart/form-data">
    <h2>Crear cuenta</h2>
    <label>
      Usuario:
      <input required type="text" name="username" placeholder="Tu usuario" />
    </label>

    <label>
      Email:
      <input required type="email" name="email" placeholder="Tu email" />
    </label>

    <label>
      Contraseña:
      <input required type="password" name="password" placeholder="Tu contraseña" />
    </label>

    <label for="profilePic">Imagen de perfil:</label>
    <input required type="file" id="profilePic" name="profilePic" />

    <label>
      Sector:
      <input type="text" name="industry" placeholder="Tu sector (opcional)" />
    </label>

    <button type="submit" class="promptPalButton">Crear cuenta</button>

  </form>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>

<p>¿Ya tienes cuenta? <a href="/log-in">Inicia sesión</a></p>