<div class="form">
  <h2>Crear cuenta</h2>
  <form action="/sign-up" method="POST" enctype="multipart/form-data">

    <label for="username">Usuario:</label>
    <input required type="text" name="username" placeholder="Tu usuario" />

    <label for="email">Email:</label>
    <input required type="email" name="email" placeholder="Tu email" />

    <label for="password">Contraseña:</label>
    <input required type="password" name="password" placeholder="Tu contraseña" />

    <label for="profilePic">Imagen de perfil:</label>
    <input required type="file" id="profilePic" name="profilePic" />

    <label for="industry">Sector:</label>
    <input type="text" name="industry" placeholder="Tu sector (opcional)" />

    <button type="submit" class="promptPalButton">Crear cuenta</button>

  </form>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>

<p>¿Ya tienes cuenta? <a href="/log-in">Inicia sesión</a></p>