<div class="bckgrimg">
  <div class="el">
    <h1>¡Bienvenido a PromptPal! 🚀</h1>
  </div>
  <div class="el">
  </div>
  <div class="el">
    <a href="/sign-up"><button class="promptPalButton">Crear una cuenta</button></a>
    <a href="/log-in"><button class="promptPalButton">Iniciar sesión</button></a>
  </div>
</div>
<section id="first">
  <h3>La herramienta definitiva para sacar el máximo provecho de la IA.</h3>
  <p>Explora los diferentes ámbitos del marketing en los que puede beneficiarse
    tu marca, selecciona los que quieras utilizar, configura el prompt en base a
    tu contexto y obtén una respuesta a tus problemas.</p>
</section>
{{! <div class="box3divs profile">
  <div class="singleDiv">
    <p>Crea tu cuenta y accede a cientos de prompts con los que impulsar el
      marketing de tu empresa:</p>
    <a href="/sign-up"><button class="promptPalButton">¡VAMOS!</button></a>
  </div>
  <div class="singleDiv">
    <p>Elige entre distintas estrategias: SEO Copywritting, Content Performance,
      Content Creation and Curation...
    </p>
    <a href="/prompts"><button class="promptPalButton">¡VAMOS!</button></a>
  </div>
  <div class="singleDiv">
    <p>Crea, estudia, edita o borra tus estrategias desde tu perfil:</p>
    <a href="/log-in"><button class="promptPalButton">¡VAMOS!</button></a>
  </div>
</div> }}