<div class="box">
  <div class="align">
    <img src="/images/PromptPal-logo.png" class="PromptPal-index" />
  </div>

</div>
<div class="el">
  <h1>Las respuesta perfecta<br /> <b>a un prompt de distancia</b></h1>
  <div class="inflex">
    <a href="/sign-up"><button class="indexButton1 center">Crear cuenta</button></a>
    <a href="/log-in"><button class="indexButton2 center">Iniciar sesión</button></a>
  </div>
</div>
<section id="first">
  <h3>La herramienta definitiva para sacar el máximo provecho de la IA.</h3>
  <div class="greenInflex">
    <p>Explora los diferentes ámbitos del marketing para beneficiar tu marca y
      obtén una respuesta a tus problemas.</p>
  </div>

</section>
<section class="main-footer">
  <div class="box3divs profile">
    <div class="singleDiv">
      <img src="/images/Icon/beneficio_texto.png" />
      <p>Consigue respuestas precisas con nuestros prompts personalizados.</p>
      <a href="/sign-up"><button class="promptPalButton">¡VAMOS!</button></a>
    </div>
    <div class="singleDiv">
      <img src="/images/Icon/beneficio-texto.png" />
      <p>Obtén una respuesta más relevante en menos tiempo</p>
      <a href="/prompts"><button class="promptPalButton">¡VAMOS!</button></a>
    </div>
    <div class="singleDiv">
      <img src="" />
      <p>Edita, personaliza y guarda tus prompts para un fácil acceso.</p>
      <a href="/log-in"><button class="promptPalButton">¡VAMOS!</button></a>
    </div>
  </div>
</section>