<div class="box grey-bckg">
  <img src="/images/PromptPal-logo.png" class="PromptPal-index" />
</div>
<div class="el grey-bckg">
  <h1>Las respuesta perfecta<br /> <b>a un prompt de distancia</b></h1>
  <div>
    <h3>La herramienta definitiva para sacar el máximo provecho de la IA.</h3></div>
  <div class="inflex">
    <a href="/sign-up"><button class="indexButton1 center">Crear cuenta</button></a>
    <a href="/log-in"><button class="indexButton2 center">Iniciar sesión</button></a>
  </div>
</div>
<section id="first">

  <div class="greenInflex">
    <p>Explora los diferentes ámbitos del marketing para beneficiar tu marca y
      obtén una respuesta a tus problemas.</p>
  </div>

</section>
<section class="main-footer">
  <div class="singleDiv">
    <img src="/images/Icon/beneficio_texto.png" />
    <p class="indexFoot">Consigue respuestas precisas con nuestros prompts
      personalizados.</p>
  </div>
  <div class="singleDiv">
    <img src="/images/Icon/beneficio_automatizar.png" />
    <p class="indexFoot">Obtén una respuesta más relevante en menos tiempo</p>
  </div>
  <div class="singleDiv">
    <img src="/images/Icon/beneficio_editar.png" />
    <p class="indexFoot">Edita, personaliza y guarda tus prompts para un fácil
      acceso.</p>
  </div>
</section>