<div><h1>¡Bienvenido a PromptPal! 🚀</h1>
  <p>La herramienta que necesitabas para sacar provecho a la Inteligencia
    Artificial, sin necesidad de entenderla.</p></div>
<div class="box3divs profile">
  <div class="singleDiv">
    <p>Crea tu cuenta y accede a cientos de prompts con los que impulsar el
      marketing de tu empresa:</p>
    <a href="/sign-up"><button class="promptPalButton">¡VAMOS!</button></a>
  </div>
  <div class="singleDiv">
    <p>Elige entre distintas estrategias: SEO Copywritting, Content Performance,
      Content Creation and Curation...
    </p>
    <a href="/prompts"><button class="promptPalButton">¡VAMOS!</button></a>
  </div>
  <div class="singleDiv">
    <p>Crea, estudia, edita o borra tus estrategias desde tu perfil:</p>
    <a href="/log-in"><button class="promptPalButton">¡VAMOS!</button></a>
  </div>
</div>