<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{!-- <link rel="stylesheet" type="text/css" href="/stylesheets/fonts" /> --}}

  </head>

  <body>

    <header>
      <div class="navbar">
        <div>
          <a href="/"><img
              src="/images/PromptPal-logo-negativo.png"
              alt="promptPal"
              class="navBar-logo"
            /></a>
        </div>
        <nav>

          <ul>
            <li><a href="/prompts" class="navA"> Explorar Prompts </a></li>
            <li><a href="/prompts/mis-prompts" class="navA">
                Mis Prompts
              </a></li>
            <li><a href="/prompts/create"><button class="PromptPalButtonNav">Crear un Prompt +</button></a></li>

            {{#if userInSession}}
            <li><div id="contenedor"><img
                  src="{{userInSession.profilePic}}"
                  class="navPic"
                /><div id="user">
                 <div class="userProfile"><a href="/prompts/mis-prompts">Mis Prompts</a></div>
                 <div class="userProfile"><a href="/responses">Mis respuestas</a></div> 
                 <div class="userProfile"><a href="/profile">Mi perfil</a></div>
                 <div class="userProfile"><a href="/edit-profile">Editar Usuario</a></div>
                 <div class="userProfile"><a href="/log-out">Cerrar sesión</a></div>
                </div></li>
          </ul>
          {{/if}}

        </nav>
      </div>

    </header>

    {{! <header>
      <div class="navbar">
        <div>
          <a href="/"><img
              src="./../images/PromptPAL_Logo2.png"
              alt="promptPal"
              class="promptPal"
            /></a>
        </div>
        <nav>
          <ul>
            <li><a href="/sign-up" class="promptPalButton">
                Crear una cuenta
              </a></li>
            <li><a href="/log-in" class="promptPalButton">
                Iniciar sesión
              </a></li>
          </ul>
        </nav>
      </div>

    </header> }}

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>