<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <header>
      <div class="navbar">
        <div>
          <a href="/"><img
              src="/images/PromptPAL_Logo2.png"
              alt="promptPal"
              class="promptPal"
            /></a>
        </div>
        <nav>

          <ul>
            <li><a href="/"> Inicio </a></li>
            <li><a href="/profile"> Perfil </a></li>
            <li><a href="/prompts"> Prompts </a></li>
            <li><a href="/responses"> Respuestas </a></li>
            <li><a href="/log-out"> Cerrar sesión </a></li>
          </ul>

          <form action="#" method="post" id="searchBar">
            <img
              src="/images/searchIcon.png"
              alt="magnifying glass"
              class="minifying"
            />
            <input type="text" id="promptSearch" placeholder="Buscar prompts" />
            <button class="button">Buscar</button>
          </form>
        </nav>
      </div>

    </header>

    {{! <header>
      <div class="navbar">
        <div>
          <a href="/"><img
              src="./../images/PromptPAL_Logo2.png"
              alt="promptPal"
              class="promptPal"
            /></a>
        </div>
        <nav>
          <ul>
            <li><a href="/sign-up" class="promptPalButton">
                Crear una cuenta
              </a></li>
            <li><a href="/log-in" class="promptPalButton">
                Iniciar sesión
              </a></li>
          </ul>
        </nav>
      </div>

    </header> }}

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>