<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{!-- <link rel="stylesheet" type="text/css" href="/stylesheets/fonts" /> --}}

  </head>

  <body>
{{#if userInSession}}
    <header>
      <div class="navbar">
        <div>
          <a href="/"><img
              src="/images/PromptPal-logo-negativo.png"
              alt="promptPal"
              class="navBar-logo"
            /></a>
        </div>
        <nav>

          <ul>
            <li><a href="/prompts" id="sign-up" class="bluebuttonres"> Explorar Prompts </a></li>
            <li><a href="/prompts/mis-prompts" id="sign-up" class="bluebuttonres">
                Mis Prompts
              </a></li>
            <li><a href="/prompts/create" id="sign-up" class="bluebuttonres"><button>Crear un Prompt +</button></a></li>

            
            <li><div id="contenedor"><img
                  src="{{userInSession.profilePic}}"
                  class="navPic"
                /><div id="user">
                 <div class="userProfile"><a href="/prompts/mis-prompts">Mis Prompts</a></div>
                 <div class="userProfile"><a href="/responses">Mis respuestas</a></div> 
                 <div class="userProfile"><a href="/edit-profile">Perfil</a></div>
                 <div class="userProfile"><a href="/log-out">Cerrar sesión</a></div>
                </div></li>
          </ul>
          {{else}}
       <header>
      <div class="navbar">
        <div>
          <a href="/"><img
              src="/images/PromptPal-logo-negativo.png"
              alt="promptPal"
              class="navBar-logo"
            /></a>
            
        </div>
        <div><p class="slogan">La respuesta perfecta a un prompt de distancia</p></div>
        <nav class="navA">
          
          <ul>
            <li><a href="/sign-up" id="sign-up" class="bluebuttonres">
                Crear una cuenta
              </a></li>
            <li><a href="/log-in" id="sign-up" class="bluebuttonres">
                Iniciar sesión
              </a></li>
          </ul>
        </nav>
      </div>

    </header> 
          {{/if}}

        </nav>
      </div>

    </header>

    

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>