<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/fonts" />

  </head>

  <body>

    <header>
      <div class="navbar">
        <div>
          <a href="/"><img
              src="/images/PromptPal-logo-negativo.png"
              alt="promptPal"
              class="navBar-logo"
            /></a>
        </div>
        <nav>

          <ul>
            <li><a href="/prompts" class="navA"> Explorar Prompts </a></li>
            <li><a href="/prompts/mis-prompts" class="navA">
                Mis Prompts
              </a></li>
            <li><a href="/prompts/create" class="navAButton">
                Crear un Prompt +
              </a></li>
            <li><img src="/images/tedascuen.png" class="navPic" /></li>
            <li><a href="/log-out"> Cerrar sesión </a></li>
          </ul>

        </nav>
      </div>

    </header>

    {{! <header>
      <div class="navbar">
        <div>
          <a href="/"><img
              src="./../images/PromptPAL_Logo2.png"
              alt="promptPal"
              class="promptPal"
            /></a>
        </div>
        <nav>
          <ul>
            <li><a href="/sign-up" class="promptPalButton">
                Crear una cuenta
              </a></li>
            <li><a href="/log-in" class="promptPalButton">
                Iniciar sesión
              </a></li>
          </ul>
        </nav>
      </div>

    </header> }}

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>