<h2>Edición de Prompt</h2>

<form action="/prompts/{{promptToEdit._id}}/edit" method="post">

  <div class="prompts">
    <input
      type="text"
      name="tag"
      value="{{promptToEdit.tag}}"
      class="prompts"
    />
    <div class="flex">
      <button type="submit" class="promptPalButton">Guardar</button>
      <a href="/prompts/send-prompt" class="promptPalButton">Enviar</a>
    </div>

  </div>
  <div class="promptsEdit">
    <textarea
      class="definitionEdit"
      name="definition"
      cols="30"
      rows="10"
    >{{promptToEdit.definition}}</textarea>

  </div>
</form>