<div class="boz">
  <h2>Crear Prompt</h2>

  <form action="/prompts/create" method="post">

    <div class="prompts">
      <h3>TAG:</h3>
      <input
        type="text"
        name="tag"
        value="{{promptToEdit.tag}}"
        class="prompts"
      />
      <div class="flex">
        <button type="submit" class="promptPalButton">Guardar</button>
      </div>

    </div>
    <div class="promptsEdit">
      <h3>PROMPT:</h3>

      <textarea
        class="definitionEdit"
        name="definition"
        cols="30"
        rows="10"
      >{{promptToEdit.definition}}</textarea>

    </div>

  </form>

</div>