<div class="centerFlex">
  <h2>Crear prompt</h2>
  <div id="promptNew">
    <form action="/prompts/create" method="post">
    <textarea
    name="definition"
      class="newPromptText2 hundred-chars"
      placeholder="Escribe aquí tu prompt"
    ></textarea>

    <input
      type="text"
      name="tag"
      class="newPromptTag"
      placeholder="Escribe aquí tu tag"
    />

    <div class="flex">

        <button type="submit" class="blueButtonPrompt"><a>Guardar</a></button>

    </div>
  </div>
    </form>
</div>