<button>
  <a href="/profile">Ir a mi perfil</a>
</button>
<button>
  <a href="/log-out">Log out</a>
</button>
<button>
  <a href="/buyer-persona">Buyer Persona</a>
</button>
<button>
  <a href="/content-creation">Content Creation</a>
</button><button>
  <a href="/content-performance">Content Performance</a>
</button><button>
  <a href="/content-promotion-distribution">Content Promotion and Distribution</a>
</button><button>
  <a href="/seo">SEO Copywritting</a>
</button>
</button><button>
  <a href="/story-telling">Story Telling</a>
</button>
<h2>{{prompt.tag}}</h2>

<div class="prompts">
  <p class="definition">{{prompt.definition}}</p>
  <p class="response">{{prompt.responses}}</p>

</div>