<h2>Available prompts</h2>

<a href="/prompts/create"><button>Crear prompt</button></a>

<a href="/profile"><button>Ir a mi perfil</button></a>

<a href="/log-out"><button>Log out</button></a>

<a href="/prompts"><button>Ver todos</button></a>

<a href="/prompts/buyer-persona"><button>Buyer Persona</button></a>

<a href="/prompts/content-creation"><button>Content Creation</button></a>

<a href="/prompts/content-performance"><button>Content Performance</button></a>

<a href="/prompts/content-promotion-distribution"><button>Content Promotion and
    Distribution</button></a>

<a href="/prompts/seo"><button>SEO Copywritting</button></a>

<a href="/prompts/story-telling"><button>Story Telling</button></a>

{{#each prompts}}
  <div class="prompts">
    <h3>{{tag}}</h3>
    <p>{{definition}}</p>
    <a href="/prompts/{{id}}">Ver detalles</a>
  </div>
{{/each}}