body {
  font: 14px 'gothic', "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #5ed9a780;
}

/* // Diseño UX */
/* 
@font-face {
  font-family: 'gothic';
  src: url('/public/stylesheets/fonts/GOTHIC.TTF') format('ttf'), url('/public/stylesheets/fonts/GOTHICB.TTF') format('ttf'), url('/public/stylesheets/fonts/GOTHICI.TTF') format('ttf');
  font-weight: normal;
  font-style: normal;
  } */

.grey-bckg {
  background-color: #ececed;
}

.el h3 {
  font-size: 26px;
  padding: 10px 0 30px 0;
}

.el h1 {
  font-size: 76px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0 0;
}

.PromptPal-index {
  height: 60px;
  display: block;
  padding:40px 0 ;
}

.indexButton1 {
  padding: 12px;
  border-radius: 10px;
  background-color: white;
  color: #121224;
}

.indexButton2 {
  padding: 12px;
  border-radius: 10px;
  background-color: #121224;
  color: white;
}

.inflex {
  display: flex;
  justify-content: center;
  padding: 0 0 60px 0;
}

.indexFoot{
  color: #ececed;
}

#first {
  background-color: #5ed9a7;
}

.inflex a{
  margin: 20px 8px;
}

.center {
  justify-content: center;
  align-items: center;
}

.singleDiv {
  margin: 30px;
}

.main-footer {
  background-color: #121224;
  display: flex;
  text-align: center;
}

a {
  color: #5ed9a7;
  text-decoration: none;
}

h1 {
  color: 15px;
  text-align: center;
  margin: 0;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5ed9a7;
}

#searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.promptPal-logo {
  margin-left: 20px;
  width: 160px;
  height: auto;
}

.navBar-logo {
  margin-left: 70px;
  width: 160px;
  height: auto;
}


header > label,
input {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px 50px;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 6px auto;
}

.promptPal {
  width: 160px;
  margin-right: 1rem;
  margin-left: 0;
}

#login {
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  
}

#login img {
  width: 140px;
  height: auto;
  margin: 40px 0 0 16px;
}

#left {
  background-color: #121224;
  height: 60vh;
  width: 20vw;
  border-top-left-radius: 4%;
  border-bottom-left-radius: 4%;
  color: #ececed;

}

#left button {
  align-items: flex-start;
  position: relative;
  bottom: 0;
  left: 0
}

.leftAlign {
  text-align: left;
}

#right {
  background-color: #ececed;
  height: 60vh;
  width: 36vw;
  border-top-right-radius: 4%;
  border-bottom-right-radius: 4%;
}

.blueButton{
  background-color: #121224;
  color: #ececed;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 12%;
  border-color: #121224;
}

.whiteButton{
  background-color: #ececed;
  color: #121224;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 12%;
  border-color: #ececed;
}

section {
  display: flex;
  padding: 16px 8px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 10px 0 10px 0;
  background-color: #121224;
}

.navA {
  color: #ececed;
  margin: 0 10px;
}

.PromptPalButtonNav {
  background-color: #5ed9a7;
  padding: 4px 10px;
  margin: 0 10px 0 0;  
  border-radius: 6px;
  border-color: #121224;
}

.navPic {
  width: 30px;
  height: auto;
  padding: 0 10px 0 0;
  border-radius: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #ececed;
}

#contenedor {
  position: relative;
  width: 120px;
  float: left;
  background-color: #121224;
  text-align: center;
}

#contenedor:hover #user{
  display: block;
}

#user {
  display: none;
  background-color: #121224;
  position: absolute;
  top: 100%;
  width: 100%;
}

li a {
  text-decoration: none;
  color: #ececed;
}

li a:hover {
  text-decoration: none;
  color: #121224;
}

.userProfile {
  padding: 6px;
  cursor: pointer;
  color: #121224;
}

.userProfile:hover{
  background-color: #5ed9a7;
  color: #121224;
}

.button {
  color: white;
  padding: 10px 30px;
  background-color: #5ed9a7;
  font-weight: 600;
}

.promptPalButton {
  color: black;
  width: 200px;
  padding: 6px 30px;
  background-color: #5ed9a7;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  margin: 12px 12px 0 0;
  border: 1px solid black;
}

.minifying {
  width: 40px;
  margin-right: 10px;
}

.small {
  width: 150px;
  height: auto;
}

.boxDiv {
  width: 100%;
  height: auto;
  display: flex;
}


.singleDiv2 {
  width: 50%;
  height: auto;
  text-align: center;
  border-bottom: 1px solid #5ed9a7;
  border-right: 1px solid #5ed9a7;
  padding: 6px;
}

.profile {
  display: flex;
  border-bottom: 1px solid #5ed9a7;
}

.profile h1,
p,
h3 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.prompts {
  margin-bottom: 2px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#prompt {
  width: 40%;
  padding: 10px;
  background-color: white;
  border-radius: 8%;
  margin: 10px;
  max-height: 200px;
}

#prompt p {
  display: block;
}

#prompt .tags {
  float: left;
  background-color: #5ed9a7;
  border-radius: 20%;
  padding: 2px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.promptsDimensions {
  height: 400px;
}

.mainPrompt {
  border: 6px solid #5ed9a7;
  margin-bottom: 6px;
  padding: 8px;
}

.title {
  text-align: center;
  font-size: 3rem;
  width: 800px;
}

.promptsTitle{
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
}

.promptsEdit {
  border: 2px solid #5ed9a7;
  margin-bottom: 2px;
  padding: 5px;
  display: flex;
}

.bin img {
  width: 40px;
  height: auto;
  margin: 0 0 0 0;
}

.response {
  background-color: #fdd587;
  text-align: left;

}

.definition {
  background-color: aquamarine;
  padding: 10px;
  text-align: left;
}

.definitionEdit {
  background-color: aquamarine;
  padding: 10px;
  width: 100%;
  height: auto;
  justify-content: center;
}

.promptPalCreateButton {
  color: black;
  width: 200px;
  padding: 6px 10px;
  background-color: #5ed9a7;
  border: 1px solid black;
}

/* Limit number of characters per paragraph */

.fifty-chars {
  /* width: 50ch; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.twoHundred-chars {
  /* width: 50ch; */
  white-space: wrap;
  text-overflow: ellipsis;
}


.promptPalButtonPrompts {
  color: black;
      background-color: #5ed9a7;
      font-weight: 600;
      padding: 6px;
      align-items: center;
      margin: 12px;
      border: 1px solid black;
}

.flex {
  display: flex;
  width: 100%;
}

.flex a {
  justify-content: space-around;

}