<h2>Realiza la consulta a ChatGPT</h2>
<p>Recuerda editar los parámetros necesarios antes de realizar la consulta</p>

<form action="{{id}}" method="POST">
  <textarea name="prompt" cols="30" rows="10">{{definition}}</textarea>
  <button type="submit">Preguntar</button>
</form>

{{#if response}}
  <form action="askGPT" method="POST">
    <textarea name="response" cols="30" rows="10">{{response}}</textarea>
    <button type="submit">Guardar</button>
  </form>
{{/if}}