<h2>Realiza la consulta a ChatGPT</h2>
<p>Recuerda editar los parámetros necesarios antes de realizar la consulta</p>
<div id="consult">
  <form action="{{id}}" method="POST">
    <textarea name="prompt" cols="30" rows="10" class="definitionEdit">{{definition}}</textarea>
    <button type="submit" id="ask" class="promptPalButton">Preguntar</button>
  </form>
  <img src="/images/PromptPAL_Logo2.png" id="loading-img" style="display:none" alt="" />
</div>
<script src="/js/loadingScript.js"></script>